<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar registro de Salud</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="prev()">
        <ion-icon slot="start" name="arrow-back"></ion-icon> Prev
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="next()">Next <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #recordSlider>

    <ion-slide>
      <p *ngIf="isSubmitted" style="color: #ea6153;">Please fill out all details accurately.</p>

      <ion-list lines="none">
        <ion-title>Tanita</ion-title>
        <form [formGroup]="Tanita">

          <ion-item>
            <ion-label position="floating">Peso</ion-label>
            <ion-input formControlName="peso" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita.controls.peso.valid  && (Tanita.controls.peso.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Porcentaje Grasa</ion-label>
            <ion-input formControlName="percent_Grasa" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita.controls.percent_Grasa.valid  && (Tanita.controls.percent_Grasa.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Porcentaje Hidratacion</ion-label>
            <ion-input formControlName="percent_Hidratacion" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita.controls.percent_Hidratacion.valid  && (Tanita.controls.percent_Hidratacion.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Peso Muscular</ion-label>
            <ion-input formControlName="peso_Muscular" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita.controls.peso_Muscular.valid  && (Tanita.controls.peso_Muscular.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Masa Muscular</ion-label>
            <ion-input formControlName="masa_Muscular" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita.controls.masa_Muscular.valid  && (Tanita.controls.masa_Muscular.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
        </form>

      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list lines="none">
        <ion-title>Tanita</ion-title>

        <form [formGroup]="Tanita2">

          <ion-item>
            <ion-label position="floating">Peso Oseo</ion-label>
            <ion-input formControlName="peso_Oseo" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita2.controls.peso_Oseo.valid  && (Tanita2.controls.peso_Oseo.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Kilocalorias</ion-label>
            <ion-input formControlName="kilocalorias" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita2.controls.kilocalorias.valid  && (Tanita2.controls.kilocalorias.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Edad Metabolica</ion-label>
            <ion-input formControlName="edad_Metabolica" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita2.controls.edad_Metabolica.valid  && (Tanita2.controls.edad_Metabolica.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Masa Viseral</ion-label>
            <ion-input formControlName="masa_Viseral" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Tanita2.controls.masa_Viseral.valid  && (Tanita2.controls.masa_Viseral.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
        </form>

      </ion-list>
    </ion-slide>
    
    <ion-slide>
      <ion-list lines="none">
        <ion-title>Manualmente</ion-title>

        <form [formGroup]="Manual">

          <ion-item>
            <ion-label position="floating">Altura</ion-label>
            <ion-input formControlName="altura" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Manual.controls.altura.valid  && (Manual.controls.altura.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Perimetro Abdominal</ion-label>
            <ion-input formControlName="perimetro_Abdominal" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Manual.controls.perimetro_Abdominal.valid  && (Manual.controls.perimetro_Abdominal.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Actividad Fisica</ion-label>
            <ion-input formControlName="actividad_Fisica" type="number"></ion-input>
          </ion-item>
          <ion-item *ngIf="!Manual.controls.actividad_Fisica.valid  && (Manual.controls.actividad_Fisica.dirty || isSubmitted)">
            <p>Please enter a valid name.</p>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="submitForm()">Crear!</ion-button>

        </form>

      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>