<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Profesor: {{user.nombre}}</ion-title>

      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()" color="secondary" expand="block" fill="clear" shape="round">
              <ion-icon slot="start" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Nombre:{{user.nombre+"  "+user.apellidos}}</ion-label>
    
  </ion-item>
  <ion-item>
    <ion-label>Centro:{{centro.nombre}}</ion-label>
    
  </ion-item>
  <ion-item>
  <ion-button *ngIf="isMobile" (click)="viewReport()" color="secondary" expand="block" fill="clear" shape="round">
    Ver Informe
</ion-button>
<ion-button *ngIf="!isMobile" (click)="viewReport()" color="secondary" expand="block" fill="clear" shape="round">
  Ver Informe
</ion-button>
</ion-item>
  <ion-row>
  <ion-col>
    <ion-button (click)="addRecords()" expand="block">Añadir Registros</ion-button>

  </ion-col>
</ion-row>
 
 
 
</ion-content>
